/* responsive */
.blog-container {
 justify-content: space-between;
}

.left-blog {
 width: 70%;
}

.right-blog {
 width: 18%;
}
/* regular */
.blog-container {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 margin: 0 auto;
}

.left-blog {
 width: 100%;
 height: auto;
 border-bottom: 1px solid #000;
 border-top: 1px solid #000;
 padding: 10px 0 30px 0;
}

.right-blog {
 width: 100%;
 height: auto;
}

.page-links-title {
 padding: 0px 10px;
 font-weight: 600;
 font-size: 1.6rem;
}

.page-links {
 text-align: center;
 margin-top: 30px;
}

.min-list {
 padding: 10px 0;
}

.min-list:first-child {
 padding: 0 0 10px 0;
}

.min-list li {
 border-bottom: 1px solid #000;
 padding: 3px 10px;
}


.min-list,
.post-categories {
 list-style: none;
}

.pagination {
 text-align: center;
 margin: 10px auto;
}



